<app-header></app-header>
<!-- ESTO ES ES TOOLBAR-->
<ul *ngFor='let task of Iglobaltasks'>
  <li>{{task.task1}}</li>
  <li>{{task.task2}}</li>
  <li>{{task.task2}}</li>
</ul>



  <div class="tasks">
  <h1 class="has-text-grey-light my-5">Project X process:</h1>
  <div class="bar">
    <progress class="progress is-info" value="60" max="100">60%</progress>
  </div>
  <ul>
    <li>
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://i.imgur.com/TwVFneT.png">
      </figure>
    </li>
  </ul>
  <ul class="list" >
    <li class="subtitle is-5 has-text-primary	">Programing Tables</li>
    <li class="subtitle is-5 has-text-warning">In Progress</li>
  </ul>

