.home{
    background-image: url(../../assets/fondo_home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6vh;
    img{
      margin-top: 3vh;
    }
    .contenido{
      font-size: 20px;
      color: rgb(160, 156, 156);

      p{
        margin-top: 4vh;
      }
      h1{
        font-size: 30px;
      }
      .botones{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 25vh;
        button{
          width: 30%;
          margin: 2vh;
        }
      }

    }

}

